header {
    background-color: blue;
    width: 100%;
    height: 5rem;
    
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #f3eded;
}
