header {
    background-color: purple;
    width: 100%;
    padding: 0 4em;
    box-sizing: border-box;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  padding: 2rem 0 2rem 0;
  color: #f3eded;
  text-decoration: none;
  font-size: 30px;
}
