body {
    margin: 0;
}

.intro-blog {
    background-color: blue;
    height : 20rem;
    color: #f3eded;
    padding: 0 4em;
}

.image-caption {
    display:flex;
    align-items: center;
    gap : 1rem
}

.image-caption img {
    width: 100px;
    height: 100px;
    transform: rotate(-5deg); 
}

.text {
    font-size: 2rem;
    /* width: 10px; */
}

figcaption.text {
    width: 350px;
    font-size: 3rem;
}

.post-container{
    max-width: 1100px;
    margin: 0 auto;    
    padding: 0 1rem;  
    border : 4px solid black;
    text-align: center;
}

.post-allign{
    display: flex;
}

.post-allign img {
     width: 50px;
     height: 50px;
}





