#center-align{
    text-align: center;
}

.each-post{
    max-width: 300px;
    margin: 0 auto;
    padding-block-start: 10px;
    padding-bottom: 10px;
    border : 2px solid lightgray;
    border-radius: 16px;
    text-align: center;
    background: white;
    overflow: hidden;
}

.combind-grid{
    display: grid;
    row-gap: 20px;
    grid-template-columns: 350px 350px 350px;
    margin: 0 400px 0 400px;
}

img {
    width : 200px;
    height: 200px
}
