.read-later {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

#list_data {
    display: flex;           
    justify-content: space-between; 
    align-items: center;     
    background-color: white;
    border: 2px solid black;
    padding: 1rem 2rem;       
    margin-top: 1rem;
}

#list_data button {
    font: inherit;
    background-color: #390281;
    color: white;
    border: 1px solid #390281;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0;
}
