.group-img-title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 2rem;
}

.title-tags-container {
    display: flex;
    flex-direction: column; /* title on top, tags below */
}

.tags-container {
    display: flex;       /* tags in one row */
    gap: 0.5rem;         /* space between pills */
    flex-wrap: wrap;     /* wrap to next line if too many tags */
    margin-top: 0.5rem;
}

.title-and-tags {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #ffe6f0;
    display: inline-block;
    font-size: 0.9rem;
}

img {
    width: 150px;
    height: 150px;
    transform: rotate(5deg);
}

.post-info {
    border: 1px solid black;
    width: 1200px;
    margin: 2rem auto;
    border-radius: 16px;
    background-color: plum;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    text-align: right;
    padding-right: 20px;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

#summary_content {
    background-color: white;
    text-align: left;
    padding: 20px 20px 20px;
    font-size: 1.5rem;
    border-radius: 16px;
}

.comment-form {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.comment-form p {
    text-align: left;
}

.comment-form button {
  font: inherit;
  background-color: #390281;
  color: white;
  border: 1px solid #390281;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

#comment-form button:hover,
#comment-form button:active {
  background-color: #4f0ba7;
  border-color: #4f0ba7;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #d6000b;
}

.invalid label {
  color: #d6000b;
}

.invalid input,
.invalid textarea {
  border-color: #d6000b;
  background-color: #ffe6e7;
}

#read-later button {
  font: inherit;
  border: 1px solid #390281;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

#read-later button:hover,
#read-later button:active {
  background-color: #b8a7ce;
  border-color: #4f0ba7;
}

#read-later p {
  text-align: left;
}
