.post-info {
    border : 1px solid black;
    width: 1200px;
    margin: 2rem auto;
    border-radius: 16px;
    background-color: plum;
    box-sizing: border-box;
}

img{
    width: 150px;
    height:150px;
    transform: rotate(5deg);
}

.group-img-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    font-size: 2rem;
}

p{
    text-align: right;
    padding-right: 20px;
    margin: 0;
    font-size: 0.9rem;
}

#summary_content{
    background-color: white;
    text-align: left;
    padding: 20px 20px 50px;
    font-size: 1.5rem;
    border-radius: 16px;
}