{% extends "base.html" %}
{% load static %}

{% block html_title %} My Blog {% endblock %}

{% block css_files %}
    <link rel = "stylesheet" href = "{% static 'blog/block_home.css' %}">
    <link rel = "stylesheet" href = "{% static "includes/header.css" %}">
{% endblock %}

{% block body_contents %}
    
    <div class = "intro-blog">
        {% include "blog/includes/header.html" %}
        <figure class = "image-caption">
            <img src="{% static '/blog/images/disney_palace.jpeg' %}" alt="Renjana Elango profile pic">
            <figcaption class = 'text'>Renjana Elango's Blogs</figcaption>            
        </figure>
        <p class = 'text'>{{ blog_introduction }}</p>
    </div>
    <div class = "post-container">  
        <h1> This is my Favourite Shows </h1>
        <div class = "post-allign">                        
            {% for post in posts %}
                <div>
                    <img src="{% static '/blog/images/' %}{{ post.image }}" alt="Renjana Elango profile pic">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.content }}</p>
                </div>
            {% endfor %}        
        </div>
    </div>
{% endblock %}  