{% extends "base.html" %}
{% load static %}

{% block html_title %} My Blog {% endblock %}

{% block css_files %}
    <link rel = "stylesheet" href = "{% static 'blog/block_home.css' %}">
    <link rel = "stylesheet" href = "{% static "includes/header.css" %}">
{% endblock %}

{% block body_contents %}
    {% include "blog/includes/header.html" %}
    <div class = "intro-blog">        
        <figure class = "image-caption">
            <img src="{% static 'blog/images/profile.jpeg' %}" alt="Renjana Elango profile pic" onerror="this.onerror=null;this.src='{% static 'blog/images/disney_fallback.jpeg' %}';">
            <figcaption class = 'text'>Renjana Elango's Blogs</figcaption>            
        </figure>
        <p class = 'text'>{{ blog_introduction }}</p>
    </div>
    
    <div class = "post-container">  
        <h1> This is my Favourite Shows </h1>
        <div class = "post-allign">                        
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}        
        </div>
    </div>

    <div id="about">
        <h2>What I Do</h2>
        <p>
            I'm a Disney enthusiast, exploring the magic behind every movie, park, and story. 
            I love sharing fun facts, reviews, and hidden gems with fellow fans.
        </p>
        <p>
            My goal is to celebrate Disney's magic and connect with others who share the same love.
        </p>
    </div>
{% endblock %} 