{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block html_title %} My Site Details {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{% static "base.css" %}">
    {% block css_files %} {% endblock %}
</head>
<body>
    {% block body_contents %} {% endblock %}
</body>
</html>